adafruit_blinka==8.58.1
adafruit_circuitpython_lps28==1.0.0
adafruit_circuitpython_mcp3xxx==1.4.21
adafruit_circuitpython_scd4x==1.4.8
bleak==1.1.0
matplotlib==3.10.5
minimalmodbus==2.1.1
numpy==2.3.2
pressure==0.5
pyserial==3.5
RPi.GPIO==0.7.1
rpi_lgpio==0.6
valve==0.0.0
